name: Laravel CI/CD

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Plesk
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: "200.234.233.224"
          # ${{secrets.IPSERVER}}
          username: "root"
          # ${{secrets.USER}}
          password: "T^t#hJqQEhD4sBy1V^#n"
          # ${{secrets.CLAVESSH}}
          script: |
            cd /var/www/vhosts/partilot.es/panel.partilot.es/
            git pull origin main
            composer install
            php artisan cache:clear
            php artisan config:clear
            php artisan route:clear
            php artisan view:clear
            # php artisan migrate
            # php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\LaravelServiceProvider"
            # php artisan jwt:secret
            # php artisan vendor:publish --provider="Laravel\Sanctum\SanctumServiceProvider"
